/*connexion test css*/
.container
{
    text-align: center;
    border-radius: 25px;
    border: none;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin-left: 65%;
    padding-top: 2%;
    border-radius: 2%;
    background-color: white;
}
input
{
    width: 80%;
    height: 45px;
}
button
{
    background: linear-gradient(#0066cc, #66ccff);
    width: 80%;
    height: 60px;
    border-radius: 25px;
    border: none;
}
html
{
    background-image: url("../fond-secu.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}
#text-confirmation
{
    font-size: 25px;
}