/*commande test css*/

.container
{
    text-align: center;
    background-color: #cceeff;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right:35%;
    margin-left: 35%;
    padding-top: 2%;
    padding-bottom: 1,5%;
    border: 2px solid;
    border-color: #0066ff;
    max-height: 100%;
}
.commande
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.commande-area
{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
.commande-image
{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
button
{
    background-color: #99ddff;
    border-color:#0066ff;
    width: 25%;
    height: 15%;
    border-radius: 10%;
    color: #3366cc;
    margin-top: 2%;
    margin-bottom: 5%;
}
textarea
{
    padding-top: 2%;
    width: 100%;
}
label
{
    color: #3366cc;
}
a
{
    text-decoration: none;
    color: #3366cc;
}
.fichier
{
    margin-top: 2%;
    text-align: center;
}
